.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    width: 500px;
    min-height: 450px;
    box-shadow: 0 24px 32px rgb(0 0 0 / 4%), 0 16px 24px rgb(0 0 0 / 4%), 0 4px 8px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
    border-radius: 40px;
    z-index: 21;
}

.icon {
    position: absolute;
    top: 40px;
    right: 40px;
}

.shadow {
    text-shadow: 0 0 16px rgba(51, 51, 255, 0.25), 0 0 8px rgba(51, 51, 255, 0.25), 0 4px 32px rgba(51, 51, 255, 0.5);
}

.image {
    width: 120px;
}
