.modal {
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 30%;
    display: flex;
    background-color: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    min-width: 500px;
    min-height: 450px;
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.icon {
    z-index: 1;
    position: absolute;
    right: 7%;
    top: 9%;
}
